* {
    margin: 0px;
    padding: 0px;
}

/*banner-section styles*/

.banner{
    width: 95%;
    margin: 0 auto;
    position: relative;
}

.banner img{
    width: 100%;
    padding:0px 5px 5px 5px;
    border-radius: 5px;
    padding: 10px;
}

.banner-heading{
    color:white;
    position: absolute;
    top:50%;
    width: 100%;
    text-align: right;
    
}

.banner-heading-intro{
    color:white;
    position: absolute;
    top:60%;
    width: 100%;
    text-align: right;
    
}
    
.btn-contact{
    position: absolute;
    top:70%;
    background-color:white;
    border: none;
    color: #005FAC;
    border-radius: 5px;
    padding: 10px;
    margin-left: 700px; /*I can't understand it*/
    box-shadow: 25px;
}
    
    /*img-section styles*/

    .img-section{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .img-title{
        font-size: 50px;
    }

    .img-description{
        margin-top: 20px;
    }

    imput{
        background: #444343;
        
    }
    
    /*My plans section styles*/

    .plan-section-heading{
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .plan-section{
        display: flex;
        gap: 15px;
        margin-left: 25px;
    }

    .plan-section img{
        width: 50px;
        height: 50px;
        
    }
    
    .plan-img-title{
        margin-top: 15px;
    }

    .plan-text-description{
        margin-top: 15px;
    }


    .gradient{
        margin-top: 50px;
        background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
        width: 100%;
        height: 250px;
        position: relative;
        
    }

    .gradient-title{
        text-align: center;
        color:white;
        position: absolute;
        top:20%;
        margin-left: 20px;
    }

    .btn-gradient{
        top:25%;
        margin-left: 20px;
        border-radius: 5px;
        padding: 10px;
        border: none;
        color: #005FAC;
    }
    
