* {
    margin: 0px;
    padding: 0px;
}

/*banner-section styles*/

.banner{
    width: 95%;
    margin: 0 auto;
    position: relative;
}

.banner img{
    width: 100%;
    padding:0px 5px 5px 5px;
    border-radius: 5px;
    padding: 10px;
}

.banner-heading{
    color:white;
    position: absolute;
    top:50%;
    width: 100%;
    text-align: right;
    
}

.banner-heading-intro{
    color:white;
    position: absolute;
    top:60%;
    width: 100%;
    text-align: right;
    
}
    
.btn-contact{
    position: absolute;
    top:70%;
    background-color:white;
    border: none;
    color: #005FAC;
    border-radius: 5px;
    padding: 10px;
    margin-left: 700px; /*I can't understand it*/
    box-shadow: 25px;
}
    
    /*img-section styles*/

    .img-section{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .img-title{
        font-size: 50px;
    }

    .img-description{
        margin-top: 20px;
    }

    imput{
        background: #444343;
        
    }
    
    